<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.raysmond.user.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Uploadify</servlet-name>
    <servlet-class>com.raysmond.upload.Uploadify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageAlbum</servlet-name>
    <servlet-class>com.raysmond.album.ManageAlbum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPhotos</servlet-name>
    <servlet-class>com.raysmond.upload.UploadPhotos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPhotosControll</servlet-name>
    <servlet-class>com.raysmond.upload.UploadPhotosControll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentsControll</servlet-name>
    <servlet-class>com.raysmond.comment.CommentsControll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserTagControll</servlet-name>
    <servlet-class>com.raysmond.tag.UserTagControll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AysncAlbum</servlet-name>
    <servlet-class>com.raysmond.album.AysncAlbum</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userAuth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Uploadify</servlet-name>
    <url-pattern>/servlet/Uploadify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageAlbum</servlet-name>
    <url-pattern>/servlet/manageAlbum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPhotos</servlet-name>
    <url-pattern>/UploadPhotos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPhotosControll</servlet-name>
    <url-pattern>/UploadPhotosControll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentsControll</servlet-name>
    <url-pattern>/CommentsControll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTagControll</servlet-name>
    <url-pattern>/UserTagControll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AysncAlbum</servlet-name>
    <url-pattern>/AysncAlbum</url-pattern>
  </servlet-mapping>
 
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
